<section class="nav-flex-container-2">
  <ul class="">
      <li><a href="">World</a></li><br>
      <li>
        <a href="">San Francisco</a>
        <ul class="hidden-elements">
          <li><a href="">Students</a></li>
          <li><a href="">Teaching Assistants</a></li>
          <li><a href="">Instructors</a></li>
          <li><a href="">Career Advisors</a></li>
          <li>Cats</li>
        </ul>
      </li>
      <li><a href="">New York</a></li>
      <li>
        <a href="">Bootcamp Prep</a>
        <ul class="hidden-elements">
          <li><a href="">Students</a></li>
          <li><a href="">Instructors</a></li>
          <li><a href="">Cats</a></li>
        </ul>
      </li>
      <li><a href="">Jumpstart</a></li><br>
      <li>
        <a href="">Online</a>
        <ul class="hidden-elements">
          <li><a href="">Associates</a></li>
          <li><a href="">Analytics</a></li>
          <li><a href="">Cats</a></li>
        </ul>
      </li>
      <li><a href="">Marketing</a></li><br>
      <li>
        <a href="">Sales</a>
        <ul class="hidden-elements">
          <li><a href="">Associates</a></li>
          <li><a href="">Analytics</a></li>
          <li><a href="">Cats</a></li>
        </ul>
      </li>
      <li><a href="">TalentMatch</a></li>
      <li>
        <a href="">Alumni</a>
        <ul class="hidden-elements">
          <li><a href="">Students</a></li>
          <li><a href="">Companies</a></li>
          <li><a href="">Opinions</a></li>
          <li><a href="">Cats</a></li>
        </ul>
      </li>
      <li><a href="">All</a></li>
  </ul>
</section>